/* Создаем анимацию для спиннера */
@keyframes appearAnimation {
    0% {
        opacity: 0;
        transform: translateY(-18em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes exitAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(18em);
    }
}


.spinner-appear,
.spinner-enter {
    animation: appearAnimation 500ms ease-in-out;
}

.spinner-exit {
    opacity: 1;
    transform: translateY(0);
    animation: exitAnimation 500ms ease-in-out;
}
